<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.kotlin">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_plugin_launcher"
            android:label="@string/plugin_app_name"
            android:roundIcon="@mipmap/ic_plugin_launcher"
            android:supportsRtl="true"
            android:theme="@style/PluginTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.plugin_one.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.plugin_one.PluginActivity">
        </activity>
    </application>

</manifest>